nifi-templates/NIFI-KAFKA-MVS-TEMPLATE1.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>The MVS Input Flow notifies the MVS (via kafka messages) of scan requests</description>
    <groupId>fc024dba-e187-40ad-8e89-49d1ad13df97</groupId>
    <name>NIFI-KAFKA-MVS-TEMPLATE1</name>
    <snippet>
        <connections>
            <id>1e6e353b-d09b-3c6e-0000-000000000000</id>
            <parentGroupId>c298e868-0556-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c298e868-0556-3ebc-0000-000000000000</groupId>
                <id>c0049b60-dcfa-3d5b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>c298e868-0556-3ebc-0000-000000000000</groupId>
                <id>a3e7b09b-ae49-38c1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2467d8fd-c8f6-31ad-0000-000000000000</id>
            <parentGroupId>c298e868-0556-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1125.0</x>
                <y>659.0</y>
            </bends>
            <destination>
                <groupId>c298e868-0556-3ebc-0000-000000000000</groupId>
                <id>d512cd93-32a0-3af0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>c298e868-0556-3ebc-0000-000000000000</groupId>
                <id>6fddc1c4-4045-3c0f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4281f1ff-279e-34b4-0000-000000000000</id>
            <parentGroupId>c298e868-0556-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c298e868-0556-3ebc-0000-000000000000</groupId>
                <id>6fddc1c4-4045-3c0f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>c298e868-0556-3ebc-0000-000000000000</groupId>
                <id>3295b487-f73c-33e5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8907bbbd-b8b9-3f65-0000-000000000000</id>
            <parentGroupId>c298e868-0556-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1357.0</x>
                <y>531.0</y>
            </bends>
            <destination>
                <groupId>c298e868-0556-3ebc-0000-000000000000</groupId>
                <id>d512cd93-32a0-3af0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>c298e868-0556-3ebc-0000-000000000000</groupId>
                <id>3295b487-f73c-33e5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8bfd2abe-b917-3795-0000-000000000000</id>
            <parentGroupId>c298e868-0556-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c298e868-0556-3ebc-0000-000000000000</groupId>
                <id>d2ab3f64-2412-3417-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>c298e868-0556-3ebc-0000-000000000000</groupId>
                <id>9e2c562e-34b1-3467-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>a0ddf56d-83c0-38ff-0000-000000000000</id>
            <parentGroupId>c298e868-0556-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1461.0</x>
                <y>811.0</y>
            </bends>
            <destination>
                <groupId>c298e868-0556-3ebc-0000-000000000000</groupId>
                <id>d512cd93-32a0-3af0-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>c298e868-0556-3ebc-0000-000000000000</groupId>
                <id>6fddc1c4-4045-3c0f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>bf21c3a4-52a9-3b08-0000-000000000000</id>
            <parentGroupId>c298e868-0556-3ebc-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>c298e868-0556-3ebc-0000-000000000000</groupId>
                <id>3295b487-f73c-33e5-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>c298e868-0556-3ebc-0000-000000000000</groupId>
                <id>d2ab3f64-2412-3417-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <labels>
            <id>8f65f7c1-a1c4-3469-0000-000000000000</id>
            <parentGroupId>c298e868-0556-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>352.0</y>
            </position>
            <height>464.0</height>
            <label>MVS Output Flow</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#d6fff2</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>496.0</width>
        </labels>
        <labels>
            <id>ee2e55a4-9e62-34e5-0000-000000000000</id>
            <parentGroupId>c298e868-0556-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>600.0</x>
                <y>0.0</y>
            </position>
            <height>880.0</height>
            <label>MVS Input Flow</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>1136.0</width>
        </labels>
        <processors>
            <id>3295b487-f73c-33e5-0000-000000000000</id>
            <parentGroupId>c298e868-0556-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>681.0</x>
                <y>465.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Attributes List</key>
                        <value>
                            <name>Attributes List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-json-regex</key>
                        <value>
                            <name>attributes-to-json-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Core Attributes</key>
                        <value>
                            <name>Include Core Attributes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value</key>
                        <value>
                            <name>Null Value</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Attributes List</key>
                    </entry>
                    <entry>
                        <key>attributes-to-json-regex</key>
                    </entry>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-content</value>
                    </entry>
                    <entry>
                        <key>Include Core Attributes</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Null Value</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>AttributesToJSON</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
        </processors>
        <processors>
            <id>6fddc1c4-4045-3c0f-0000-000000000000</id>
            <parentGroupId>c298e868-0556-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>689.0</x>
                <y>721.0</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-2-6-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>
                            <name>use-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>use-transactions</propertyName>
                            </dependencies>
                            <name>transactional-id-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>
                            <name>Failure Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>
                            <name>acks</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
                            <name>kerberos-user-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                        <value>
                            <name>kafka-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>
                            <name>max.request.size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>
                            <name>ack.wait.time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>
                            <name>max.block.ms</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>
                            <name>partitioner.class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partition</key>
                        <value>
                            <name>partition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>
                            <name>compression.type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>${"KAFKA_1_IP_SERVICE_SERVICE_HOST"}:9092</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>kafka-mvs-src</value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>Route to Failure</value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>GSSAPI</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>5 sec</value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                    </entry>
                    <entry>
                        <key>partition</key>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>none</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PublishKafka_2_6</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6</type>
        </processors>
        <processors>
            <id>9e2c562e-34b1-3467-0000-000000000000</id>
            <parentGroupId>c298e868-0556-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>673.0</x>
                <y>41.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Input Directory</key>
                        <value>
                            <name>Input Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>listing-strategy</key>
                        <value>
                            <name>listing-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>
                            <name>Recurse Subdirectories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Directory Location</key>
                        <value>
                            <name>Input Directory Location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                        <value>
                            <name>Path Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include File Attributes</key>
                        <value>
                            <name>Include File Attributes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>
                            <name>Minimum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                        <value>
                            <name>Maximum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>
                            <name>Minimum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                        <value>
                            <name>Maximum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>
                            <name>Ignore Hidden Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>target-system-timestamp-precision</key>
                        <value>
                            <name>target-system-timestamp-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-state-cache</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                            <name>et-state-cache</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-time-window</key>
                        <value>
                            <name>et-time-window</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-initial-listing-target</key>
                        <value>
                            <name>et-initial-listing-target</name>
                        </value>
                    </entry>
                    <entry>
                        <key>et-node-identifier</key>
                        <value>
                            <name>et-node-identifier</name>
                        </value>
                    </entry>
                    <entry>
                        <key>track-performance</key>
                        <value>
                            <name>track-performance</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-performance-metrics</key>
                        <value>
                            <name>max-performance-metrics</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-operation-time</key>
                        <value>
                            <name>max-operation-time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-listing-time</key>
                        <value>
                            <name>max-listing-time</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Input Directory</key>
                        <value>/var/scan/input</value>
                    </entry>
                    <entry>
                        <key>listing-strategy</key>
                        <value>timestamps</value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                    </entry>
                    <entry>
                        <key>Input Directory Location</key>
                        <value>Local</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>[^\.].*</value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                    </entry>
                    <entry>
                        <key>Include File Attributes</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>target-system-timestamp-precision</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>et-state-cache</key>
                    </entry>
                    <entry>
                        <key>et-time-window</key>
                        <value>3 hours</value>
                    </entry>
                    <entry>
                        <key>et-initial-listing-target</key>
                        <value>all</value>
                    </entry>
                    <entry>
                        <key>et-node-identifier</key>
                        <value>${hostname()}</value>
                    </entry>
                    <entry>
                        <key>track-performance</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>max-performance-metrics</key>
                        <value>100000</value>
                    </entry>
                    <entry>
                        <key>max-operation-time</key>
                        <value>10 secs</value>
                    </entry>
                    <entry>
                        <key>max-listing-time</key>
                        <value>3 mins</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ListFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ListFile</type>
        </processors>
        <processors>
            <id>a3e7b09b-ae49-38c1-0000-000000000000</id>
            <parentGroupId>c298e868-0556-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>80.0</x>
                <y>400.0</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-2-6-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>
                            <name>topic_type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>
                            <name>group.id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Commit Offsets</key>
                        <value>
                            <name>Commit Offsets</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>Commit Offsets</propertyName>
                            </dependencies>
                            <name>max-uncommit-offset-wait</name>
                        </value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>
                            <name>honor-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>
                            <name>separate-by-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.SelfContainedKerberosUserService</identifiesControllerService>
                            <name>kerberos-user-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>
                            <name>auto.offset.reset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                        <value>
                            <name>header-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>
                            <name>max.poll.records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>${KAFKA_1_IP_SERVICE_SERVICE_HOST}:9092</value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>kafka-mvs-dst</value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>names</value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>test_b</value>
                    </entry>
                    <entry>
                        <key>Commit Offsets</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>1 secs</value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>GSSAPI</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>latest</value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>10000</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>60 secs</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConsumeKafka_2_6</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6</type>
        </processors>
        <processors>
            <id>c0049b60-dcfa-3d5b-0000-000000000000</id>
            <parentGroupId>c298e868-0556-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>80.0</x>
                <y>632.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>log-level</key>
                        <value>
                            <name>log-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>
                            <name>log-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                        <value>
                            <name>log-message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>log-level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                    </entry>
                    <entry>
                        <key>log-message</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogMessage</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
            <id>d2ab3f64-2412-3417-0000-000000000000</id>
            <parentGroupId>c298e868-0556-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>673.0</x>
                <y>265.0</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Topic</key>
                        <value>
                            <name>Topic</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Topic</key>
                        <value>kafka-mvs-src</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>d512cd93-32a0-3af0-0000-000000000000</id>
            <parentGroupId>c298e868-0556-3ebc-0000-000000000000</parentGroupId>
            <position>
                <x>1297.0</x>
                <y>617.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>log-level</key>
                        <value>
                            <name>log-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                        <value>
                            <name>log-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>log-message</key>
                        <value>
                            <name>log-message</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>log-level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>log-prefix</key>
                    </entry>
                    <entry>
                        <key>log-message</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogMessage</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
    </snippet>
    <timestamp>04/19/2022 19:27:03 UTC</timestamp>
</template>
